<!DOCTYPE HTML>
<hmtl>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>    
    <body>        
        {{> header}} 123
        <p>Some text here.</p>
        {{> footer}}
    </body>
</hmtl>