<!DOCTYPE HTML>
<hmtl>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>    
    <body>
        {{> header}}

        <p>{{welcome}}</p>

        {{> footer}}
    </body>
</hmtl>