<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="uft-8">
        <title>Project Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{message}}</p>
        {{> footer}}
    </body>
</html>